.card {
    width: 1000px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 4px 1px black;
    transition: 1s;
}

.card_header {
    height: 40px;
    background-color: #f8f2f7;
    padding: 0 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.card_author {
    font-size: 18px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.card_control {
    display: flex;
    align-items: center;
    height: 100%;
}

.card_dot {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_dot svg {
    display: none;
}

.card_dot:hover svg {
    display: block;
}

.card_close {
    background-color: #fb6058;
    position: relative;
}

.card_hide {
    background-color: #fbbb31;
}

.card_fullscreen {
    background-color: #28c73f;
}

.card_content {
    padding: 10px 14px;
    height: calc(100% - 40px);
    overflow-y: auto;
}

.card_content div {
    line-height: 28px;
}

.hide {
    position: absolute;
    transition: 5s;
    animation: hide 0.5s forwards ease-in-out;
}

@keyframes hide {
    from {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    to {
        width: 44px;
        height: 44px;
        left: 50%;
        transform: translateX(-50%);
        top: 94%;
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}

.terminal_image {
    width: 100%;
    height: 100%;
}
